$bp1: 1650.98px;
$bp2: 1199.98px;
$bp3: 767.98px;
$bp4: 575.98px;
$bp5: 479.98px;
$bp6: 370.98px;
$maincolor: #0A0400;
$primary: #FFBC02;
$gray: #8B8B8B;
$dark-gray: #444444;
$light-gray: #E2E2E2;
$white-gray: #F5F5F5;
$white: #FCFCFC;
$black: #000000;
$red: #F16A6A;

